[submodule "facebook-login"]
	path = facebook-login
	url = https://msurguy@github.com/msurguy/laravel-facebook-login
[submodule "critter"]
	path = critter
	url = git@github.com:msurguy/critterapp.git
[submodule "charts"]
	path = charts
	url = git@github.com:msurguy/laravel-charts.git
[submodule "shop-reviews"]
	path = shop-reviews
	url = git@github.com:msurguy/laravel-shop-reviews.git
[submodule "shop-seo"]
	path = shop-seo
	url = git@github.com:msurguy/laravel-seo.git
[submodule "shop-search"]
	path = shop-search
	url = git@github.com:msurguy/laravel-smart-search.git
